{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/social/post/">
        {% csrf_token %}
        <input type="submit" class="btn-default btn" value="Create Post">
    </form>

    {% for post in posts %}
    <div>
    <p>
        {{ post.user.username }}
        {{ post.caption }}
    </p>

    <img width="500px" height="500px" src="{{ post.image_url }}">

        <form method="POST" action="/social/like/">
            {% csrf_token %}
            <input name="post" type="hidden" value="{{post.id}}">
            {% if post.is_liked %}
                <input type="submit" class="btn-default btn" value="Unlike" >
            {% else %}
                <input type="submit" class="btn-default btn" value="like" >
            {% endif %}
        </form>
    </div>
    {% endfor %}

  </body>
</html>